{% extends "admin_index.html" %}

<!-- external js ve css dosyalari include etmek icin -->
{% block includes %}
<!--
<link rel="stylesheet" href="/static/css/propose_project/propose_project.css">
-->


<!-- Bootstrap-select plugin import -->
<script src="/static/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">


<script type="text/javascript" src="/static/js/admin_system_reset/admin_system_reset.js"></script>


{% endblock %}


<!-- Ortadaki degisen alan icin HTML kodlar -->
{% block content %}


<div class="container-fluid">

        <div id="title" class="row mb-4">
                <div class="col">
                        <h2><strong>Sistem Sıfırlama Sayfası</strong></h2>

                </div>

        </div>

        <div id="aciklama" class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Açıklama</h4>
                <p>Sistemi sıfırlamak her dönem başında yapılması gereken bir işlemdir. Bu işlem sonucunda aşağıda sıralananlar gerçekleşecektir:</p>
                <hr>
                <p class="mb-0">1) Devam kararı almayan tüm öğrencilerin projeleri silinir.</p>
                <p class="mb-0">2) Öğrencilerin not bilgileri temizlenir.</p>
        </div>

        <div class="row text-center">
                <div class="col">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Sistemi Sıfırla</button>
                </div>
        </div>



        <!-- Onay alma icin modal window -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Sistem Sıfırlama Onayı</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        Sistemi sıfırlamak istediğinize emin misiniz?
                                </div>
                                <div class="modal-footer">
                                        <button id="onay" name="kaydet_button" type="button" class="btn btn-primary" data-dismiss="modal">Evet</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                        </div>
                </div>
        </div>



</div>


{% endblock %}
