<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Ana Sayfa</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Index/myStyle1.css') }}"/>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script src="/static/js/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>

		<!-- Buradaki bloga cesitli sayfalar dinamik olarak includelarini ekleyecek -->
		{% block includes %}
		{% endblock %}

	</head>
	<body>
		<div class="container-fluid">
			<div class="row bg-1">
				<div class="col-sm-4 textCenter"><a href="/"><img src="/static/ytulogopng.png" class="img-circle img-responsive" width="200px;" height="200px;" ></a></div>
				<div class="col-sm-8"><br/><br/><h2>Yıldız Teknik Üniversitesi Bilgisayar Mühendisliği</h2><h2>Proje Takip Sistemi</h2></div>
			</div>
		</div>

		<div class="wrapper">
			<!-- Sidebar -->
			<nav id="sidebar">
				<ul class="list-unstyled components">
					<p class="menuHeader">Menu</p>
					<hr/>
					<li>
						<a href="/">Ana Sayfa</a>
					</li>
					<li>
						<a href="#DuyuruSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Duyurular</a>
						<ul class="collapse list-unstyled" id="DuyuruSubmenu">
							<li>
								<a href="#">Genel Duyurular</a>
							</li>
							{% if template_values["user_type"] == "student" %}
							<li>
								<a href="#">Proje Danışmanı Duyuruları</a>
							</li>
							{% else %}
							<li>
								<a href="#">Duyuru Yap</a>
							</li>

							<li>
								<a href="#">Duyurularım</a>
							</li>

							{% endif %}

						</ul>
					</li>
					<li>
						<a href="#ProjeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Proje İşlemleri</a>
						<ul class="collapse list-unstyled" id="ProjeSubmenu">
							<li>
								<a href="/project/academician_proposals?page=1">Akademisyen Proje Önerileri</a>
							</li>
							{% if template_values["user_type"] == "student" %}
							{% if template_values["PROCESS_1"] %}
							<li>
								<a href="/project/send_friend_request">Proje Arkadaşı Ekle</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/my_sent_requests?page=1">Gönderilen Arkadaşlık İstekleri</a>
							</li>
							<li>
								<a href="/project/my_received_requests?page=1">Gelen Arkadaşlık İstekleri</a>
							</li>
							<li>
								<a href="/project/my_friend">Proje Arkadaşım</a>
							</li>
							{% if template_values["PROCESS_2"] %}
							<li>
								<a href="/project/apply_project">Proje Başvurusu Yap</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/project_apply_status">Proje Başvuru Durumu</a>
							</li>
							{% if template_values["PROCESS_4"] %}
							<li>
								<a href="/project/send_form2">Form-2 Gönder</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/form2_status">Form-2 Onay Durumu</a>
							</li>
							{% if template_values["PROCESS_7"] %}
							<li>
								<a href="/project/send_project_report">Proje Raporu Gönder</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/sent_project_reports">Gönderilen Proje Raporları</a>
							</li>

							{% else %}
							{% if template_values["PROCESS_1"] %}
							<li>
								<a href="/project/propose_project">Proje Öner</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/my_proposals?page=1">Önerilen Projelerim</a>
							</li>
							{% if template_values["PROCESS_3"] %}
							<li>
								<a href="/project/student_project_applications?page=1">Öğrenci Proje Başvuruları</a>
							</li>
							{% endif %}
							{% if template_values["PROCESS_5"] %}
							<li>
								<a href="/project/form2_pending_projects?page=1">Onay Bekleyen Form-2</a>
							</li>
							{% endif %}
							<li>
								<a href="/project/get_student_report">Öğrenci Proje Raporu İndir</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li>
						<a href="#RandevuSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Randevu İşlemleri</a>
						<ul class="collapse list-unstyled" id="RandevuSubmenu">
							{% if template_values["user_type"] == "student" %}
							<li>
								<a href="#">Randevu Talep Et</a>
							</li>
							<li>
								<a href="#">Randevum</a>
							</li>
							{% else %}
							<li>
								<a href="#">Randevu Talepleri</a>
							</li>
							<li>
								<a href="#">Randevularım</a>
							</li>
							{% endif %}
						</ul>
					</li>
					<li>
						{% if template_values["user_type"] == "student" %}
						<a href="/Grades/MyGrade">Proje Notu Görüntüle</a>

						{% else %}
						<a href="#NotSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Not İşlemleri</a>
						<ul class="collapse list-unstyled" id="NotSubmenu">
							<li>
								<a href="/Grades/NotGirisSayfasi?page=1">Proje Not Girişi Yap</a>
							</li>
							<li>
								<a href="/Grades/NotDüzenle?page=1">Proje Notları Görüntüle</a>
							</li>
						</ul>
						{% endif %}

					</li>
					<li>
						<a href="/Profil">Profilim</a>
					</li>
					<li>
						<a href="/logout">Çıkış</a>
					</li>

				</ul>
			</nav>
			{% block content %}
			<!-- Page Content -->
			<div id="content">

						<h2>Merhaba <strong>{{ template_values["name"] }} {{ template_values["sname"] }}</strong>,</h2>
						<h3>Sisteme hoş geldiniz.</h3>


			</div>
			{% endblock %}
		</div>
	</body>
</html>
