<!DOCTYPE html>
<html>

<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Ana Sayfa</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script async type="text/javascript" src="/static/js/login/login.js"></script>
        <link rel="stylesheet" href="/static/css/login/login.css">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>

<body>
        <div class="text-center">


                <img width="130px" height="130px" src="/static/ytulogopng.png" alt="YtuLogo" />
                <h1>Ara ve Bitirme Proje Takip Sistemi</h1>
        </div>
        <div class="text-center">




                <div class="login-border">

                        <form action="/login" method="post">
                                <p id="girisbaslik" class="cl2">Öğrenci Girişi</p>
                                {% if login_failure %}
                                <p class="text-danger">Kullanıcı adı/öğrenci numarası veya şifre hatalı.</p>
                                {% endif %}
                                <p id="nickveyano">Öğrenci Numarası</p>
                                <div class="col-xs-3">
                                        <input class="form-control" autocomplete="off" type="text" name="username">
                                </div>
                                <br>
                                <p>Şifre</p>
                                <div class="col-xs-3">
                                        <input class="form-control" autocomplete="off" type="password" name="password">
                                </div>
                                <br>
                                <br>
                                <input class="radio" checked="checked" name="tipsec" id="student" type="radio" value="student">Öğrenci Girişi
                                <br>
                                <br>
                                <input class="radio" name="tipsec" id="academician" type="radio" value="academician">Akademisyen Girişi
                                <br>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Giriş Yap">
                                <br>
                                <br>
                        </form>

                </div>

        </div>


</body>

</html>
