<!DOCTYPE html>
<html>

<head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Ana Sayfa</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="/static/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/css/login/login.css">

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>

<body>
        <div class="text-center">


                <img width="150px" height="150px" src="/static/ytulogopng.png" alt="YtuLogo" />
                <h1>Proje Takip Sistemi</h1>
        </div>
        <div class="text-center">
                <div class="login-border">

                        <form action="/login" method="post">
                                <p id="girisbaslik" class="cl2">Kullanıcı Girişi</p>
                                {% if login_failure == "not_exist" %}
                                <p class="text-danger">Kullanıcı adı/öğrenci numarası veya şifre hatalı.</p>
                                {% elif login_failure == "not_active" %}
                                <p class="text-danger">Kullanıcı hesabı aktif değildir.</p>
                                {% endif %}
                                <p id="nickveyano">Kullanıcı Adı/Öğrenci Numarası</p>
                                <div class="col-xs-3">
                                        <input class="form-control" autocomplete="off" type="text" name="username">
                                </div>
                                <br>
                                <p>Şifre</p>
                                <div class="col-xs-3">
                                        <input class="form-control" autocomplete="off" type="password" name="password">
                                </div>
                                <br>
                                <br>
                                <input class="btn btn-primary" type="submit" value="Giriş Yap">
                                <input class="btn btn-danger" type="button" onclick="location.href='/register';" value="Kayıt Ol" />
                                <br>
                                <br>
                        </form>

                </div>

        </div>

</body>

</html>
