{% extends "index.html" %}

<!-- external js ve css dosyalari include etmek icin -->
{% block includes %}
<!--
<link rel="stylesheet" href="/static/css/propose_project/propose_project.css">
-->

<script type="text/javascript" src="/static/js/my_received_requests/my_received_requests.js"></script>

<!-- NOT: Bu js kodu burada yazilmak zorunda. External js dosyasina python degiskenlerini (jinja2 aracaligiyla gelen) aktarmak icin -->
<script type="text/javascript">
        var template_values_curr = JSON.parse('{{ template_values_curr|safe }}');
        pass_func(template_values_curr);
</script>

{% endblock %}


<!-- Ortadaki degisen alan icin HTML kodlar -->
{% block content %}


<div class="container-fluid">

        <div id="title" class="row mb-4">
                <div class="col">
                        <h2>Gelen Proje Arkadaşlık İstekleri</h2>
                </div>

        </div>


        <div name="be_deleted" id="search-box-parent" class="row mb-4 ml-1">
                <input id="search-box" class="col-5 form-control" type="text" placeholder="Öğrenci Ara..." aria-label="Search">
        </div>

        <ul id="students" class="list-group">
                <!-- Students will be displayed here -->
        </ul>



        <!-- Paging -->

        <nav name="be_deleted" class="mt-3 ml-1 row" aria-label="...">
                <ul class="pagination">
                        <li id="pageprev-li" class="page-item disabled">
                                <a id="pageprev" class="page-link" href="" aria-label="Önceki">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                </a>
                        </li>
                        <li class="page-item disabled"><a id="pagenum" class="page-link">1</a></li>
                        <li id="pagenext-li" class="page-item">
                                <a id="pagenext" class="page-link" href="/project/my_proposals?page=2" aria-label="Sonraki">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                </a>
                        </li>
                </ul>
        </nav>



        <!-- Reddetme onayı için modal window -->
        <div class="modal fade" id="reddetmeOnayiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle1">Arkadaşlık İsteği Reddetme Onayı</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        Proje arkadaşlık isteğini reddetmek istediğinize emin misiniz?
                                </div>
                                <div class="modal-footer">
                                        <button id="modal_onay_buton" type="button" class="btn btn-primary" data-dismiss="modal">Evet</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                        </div>
                </div>
        </div>


        <!-- Onaylama onayı için modal window -->
        <div class="modal fade" id="onaylamaOnayiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle1">Arkadaşlık İsteği Onayı</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                        Proje arkadaşlık isteğini onaylamak istediğinize emin misiniz?
                                </div>
                                <div class="modal-footer">
                                        <button id="modal_onay_buton_2" type="button" class="btn btn-primary" data-dismiss="modal">Evet</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                        </div>
                </div>
        </div>




</div>



{% endblock %}
