p.cl2 {
        font-family: lucida sans unicode, lucida grande, sans-serif;
        font-weight: bold;
        font-size: 35px;
        margin-bottom: 60px;
}

h1 {
        border: 3px solid #4CAF50;
        font-family: lucida sans unicode, lucida grande, sans-serif;
        margin-bottom: 150px;
        padding-left: 0px;
}

div.login-border {
        border: 3px solid #4CAF50;
        box-sizing: content-box;
        padding-left: 150px;
        padding-right: 150px;
        display: inline-block;
        margin-bottom: 30px;
}

.girisyap {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px;
}
